.cursor-pointer {
  cursor: pointer;
}

.input-add{
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  block-size: 40px;
  inline-size: 100%;
  padding-block: 0;
  padding-inline: 10px;
  transition: .2s all ease-in;

  &:focus &:hover{
    border: 1px solid #5f57bf !important;
  }
}

.btn-add{
  border-radius: 5px;
  background-color: #5f57bf;
  block-size: 40px;
  color: #fff;
  inline-size: 100%;
  margin-block-start: 10px;
  transition: .2s all ease-in;

  &:hover{
    background-color: #3a3197;
  }
}

.add-phese{
  display: flex;
  max-inline-size: 440px;

  input{
    min-inline-size: 280px;
  }

  .btn-add-2{
    border-radius: 5px;
    background-color: #5f57bf;
    block-size: 40px;
    color: #fff;
    inline-size: 36%;
    inline-size: 50px;
    margin-block: 0;
    margin-inline: 7px;
    transition: .2s all ease-in;
  }
}

.input-add-task{
  display: flex;
  align-items: center;
  border: 1px solid #5f57bf;
  border-radius: 5px;
  block-size: 40px;
  inline-size: 100%;
  padding-block: 0;
  padding-inline: 10px;
  transition: .2s all ease-in;


  &:focus &:hover{
    border: 1px solid #0c193955 !important;
    box-shadow: none !important;
    outline: none !important;
  }
}

.btn-add-task{
  border-radius: 5px;
  background-color: #192a5687;
  block-size: 40px;
  color: #fff;
  inline-size: 100%;
  margin-block-start: 10px;
  transition: .2s all ease-in;

  &:hover{
    background-color: #3a3197;
  }
}

.text-phese{
  display: flex;
  align-items: center;
  margin-block: 0;
  margin-inline: 10px;
}

.header-pheses{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 20px;
  margin-inline: 0;
}

.misc-no-data{
  margin-block-start: 80px;

  h4{
    margin-block: 14px;
    margin-inline: auto;
    text-align: center;
  }

  p{
    margin: auto !important;
    text-align: center;
  }
}
